<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>register</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list no-line>

        <ion-item>

            <ion-input type="text" placeholder="Name" name="fullname" [(ngModel)]='data.name'></ion-input>


        </ion-item>

        <ion-item>

            <ion-input type="email" placeholder="Email" name="email" [(ngModel)]='data.email'></ion-input>


        </ion-item>

        <ion-item>

            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]='data.password'></ion-input>


        </ion-item>

    </ion-list>

    <div padding>

        <button ion-button round outline block (click)="Register()">Register</button>

    </div>

</ion-content>