<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines>

        <ion-item>

            <ion-input round type="text" placeholder='email' name='email' [(ngModel)]='data.email'></ion-input>

        </ion-item>

        <ion-item>

            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]='data.password'></ion-input>


        </ion-item>

        <button ion-button round block (click)="signIn()">Sign In</button>

        <button ion-button round outline block (click)="signUp()">Register</button>

    </ion-list>
</ion-content>